In [667]:
from tensorflow.keras.models import load_model
import numpy as np
import pandas as pd
import pickle
from sklearn.metrics import accuracy_score

In [668]:
model=load_model('model.h5')

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [669]:
with open('LabelEncoder_gender.pkl','rb') as file:
    label_encoder_gender=pickle.load(file)

In [670]:
with open('geo_encoder.pkl','rb') as file:
    one_hot_encoder=pickle.load(file)

In [671]:
with open('scalar.pkl','rb') as file:
    scalar=pickle.load(file)

In [672]:
input_data={	
    'CreditScore':600,
    'Geography':'Spain',	
    'Gender':'Male',	
    'Age':24,
    'Tenure':6,	
    'Balance':400000,	
    'NumOfProducts':3,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':10000000,
    'Exited':1
}

In [673]:
input_data

{'CreditScore': 600,
 'Geography': 'Spain',
 'Gender': 'Male',
 'Age': 24,
 'Tenure': 6,
 'Balance': 400000,
 'NumOfProducts': 3,
 'HasCrCard': 1,
 'IsActiveMember': 1,
 'EstimatedSalary': 10000000,
 'Exited': 1}

In [674]:
input_data['Gender']

'Male'

In [675]:
data=pd.DataFrame([input_data])

In [676]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,600,Spain,Male,24,6,400000,3,1,1,10000000,1

In [677]:
data['Gender']=label_encoder_gender.transform(data['Gender'])

In [678]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,600,Spain,1,24,6,400000,3,1,1,10000000,1

In [679]:
one_hot_encoder.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [680]:
geo_encoded = one_hot_encoder.transform([[input_data['Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=one_hot_encoder.get_feature_names_out(['Geography']))
geo_encoded_df

c:\Users\AnkushAnkush2\PycharmProjects\pythonProject\DataAnalytics\DeepLearning\.venv\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               0.0                0.0              1.0

In [681]:
data.drop('Geography',axis=1,inplace=True)

In [682]:
data=pd.concat([data,geo_encoded_df],axis=1)

In [683]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,600,1,24,6,400000,3,1,1,10000000,1,0.0,0.0,1.0

In [684]:
X=data.drop('Exited',axis=1)

In [685]:
X

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,24,6,400000,3,1,1,10000000,0.0,0.0,1.0

In [686]:
X=scalar.transform(X)

In [687]:
X

array([[ -0.53912042,   0.9089063 ,  -1.41806567,   0.35518751,
          5.17655704,   2.54427933,   0.64675311,   0.96566376,
        171.38978247,  -1.00388816,  -0.57183516,   1.72450072]])

In [688]:
y=data['Exited']

In [689]:
predict=model.predict(X)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 70ms/step

In [690]:
predict[0][0]

1.570472e-26

In [691]:
result=predict[0][0]

In [692]:
result

1.570472e-26

In [693]:
if result >0.5:
    print('Predict likely to be churn')
else:
     print('Predict unlikely to be churn')

Predict unlikely to be churn